<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ScriptKeyboardShortcuts</key>
    <data>
    YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
    AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEA8LDBUWHCImMTc4PD1BRUlV
    JG51bGzTDQ4PEBIUV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OhEYACoROAA4ANVlNh
    ZmFyadMXGA8ZERtSJDFSJDCABIACgA7TDQ4PHR8UoR6ABaEggAeADdMXGA8jJCURAQAQ
    DIAG0ycoKSorL1okY2xhc3NuYW1lWCRjbGFzc2VzWyRjbGFzc2hpbnRzXVJTSG90S2V5
    Q29tYm+jLC0uXVJTSG90S2V5Q29tYm9fEBNSU0NvbnRhaW5hYmxlT2JqZWN0WE5TT2Jq
    ZWN0oTBbSG90S2V5Q29tYm/TMjMPNDU2XxAZa1BlcnNpc3RlbnRUYXJnZXRCb29rbWFy
    a18QHWtQZXJzaXN0ZW50VGFyZ2V0UmVsYXRpdmVQYXRogAmACIAMXxBIfi9MaWJyYXJ5
    L1NjcmlwdHMvQXBwbGljYXRpb25zL1NhZmFyaS9RdWl0IFdpdGggQ29uZmlybWF0aW9u
    LmFwcGxlc2NyaXB00jkPOjtfEBZrQm9va21hcmtDb2RpbmdEYXRhS2V5gAqAC08RBFBi
    b29rUAQAAAAABBAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMAwAA
    BQAAAAEBAABVc2VycwAAAAUAAAABAQAAY29yZXkAAAAHAAAAAQEAAExpYnJhcnkABwAA
    AAEBAABTY3JpcHRzAAwAAAABAQAAQXBwbGljYXRpb25zBgAAAAEBAABTYWZhcmkAACIA
    AAABAQAAUXVpdCBXaXRoIENvbmZpcm1hdGlvbi5hcHBsZXNjcmlwdAAAHAAAAAEGAAAE
    AAAAFAAAACQAAAA0AAAARAAAAFgAAABoAAAACAAAAAQDAAC5XAAAAAAAAAgAAAAEAwAA
    JqIDAAAAAAAIAAAABAMAAC6iAwAAAAAACAAAAAQDAACIOEUAAAAAAAgAAAAEAwAArs1I
    AAAAAAAIAAAABAMAAK/NSAAAAAAACAAAAAQDAADB3U4bAAAAABwAAAABBgAAuAAAAMgA
    AADYAAAA6AAAAPgAAAAIAQAAGAEAAAgAAAAABAAAQcbvVeo2qqYYAAAAAQIAAAEAAAAA
    AAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAA
    AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAA
    AAAEAABBxuOahQAAACQAAAABAQAAMTUxNUZCQUUtNjMyMC00N0EwLUJCMkQtMDVFRjIz
    OTgyQkUwGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAA
    AAAAAQUAAAUBAAABAgAAYjBhZGUyNzViYzNjYTdhYjhlODZlNDczM2Y0ODdlYmE2YjBk
    YjJjZTkyNmM2MzFhYzg2YWMwZDhiZmZmMjI0OTswMDswMDAwMDAwMDswMDAwMDAwMDsw
    MDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFk
    LXdyaXRlOzAxOzAxMDAwMDEyOzAwMDAwMDAwMWI0ZWRkYzE7MDE7L3VzZXJzL2NvcmV5
    L2xpYnJhcnkvc2NyaXB0cy9hcHBsaWNhdGlvbnMvc2FmYXJpL3F1aXQgd2l0aCBjb25m
    aXJtYXRpb24uYXBwbGVzY3JpcHQAAAAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAlAAA
    AAAAAAAFEAAAKAEAAAAAAAAQEAAAXAEAAAAAAABAEAAATAEAAAAAAAACIAAAKAIAAAAA
    AAAFIAAAmAEAAAAAAAAQIAAAqAEAAAAAAAARIAAA3AEAAAAAAAASIAAAvAEAAAAAAAAT
    IAAAzAEAAAAAAAAgIAAACAIAAAAAAAAwIAAANAIAAAAAAAABwAAAfAEAAAAAAAARwAAA
    FAAAAAAAAAASwAAAjAEAAAAAAACA8AAAPAIAAAAAAADSJyg+P1pSU0Jvb2ttYXJrokAu
    WlJTQm9va21hcmvSJyhCQ18QFFBlcnNpc3RlbnRUcmVlVGFyZ2V0okQuXxAUUGVyc2lz
    dGVudFRyZWVUYXJnZXTSJyhGR18QE05TTXV0YWJsZURpY3Rpb25hcnmjRkguXE5TRGlj
    dGlvbmFyedInKEpLXxATSG90S2V5UHJlZmVyZW5jZVNldKJMLl8QE0hvdEtleVByZWZl
    cmVuY2VTZXQACAARABoAJAApADIANwBJAEwAUQBTAGUAawByAHoAhQCMAI4AkACSAJQA
    lgCdAKQApwCqAKwArgCwALcAuQC7AL0AvwDBAMgAywDNAM8A1gDhAOoA9gEEAQgBFgEs
    ATUBNwFDAUoBZgGGAYgBigGMAdcB3AH1AfcB+QZNBlIGXQZgBmsGcAaHBooGoQamBrwG
    wAbNBtIG6AbrAAAAAAAAAgEAAAAAAAAATQAAAAAAAAAAAAAAAAAABwE=
    </data>
</dict>
</plist>
