name: CI

on:
  pull_request:
  push:
    branches: main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: glyph
            system: x86_64-linux
            runner: ubuntu-latest
          - host: Rhizome
            system: aarch64-darwin
            runner: macos-latest
          - host: spore
            system: x86_64-linux
            runner: ubuntu-latest
          - host: zeta
            system: aarch64-linux
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: stackptr
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - run: nix flake check
    - name: Build NixOS system
      run: |
        if [ "${{ matrix.system }}" = "aarch64-darwin" ]; then
          nix build .#darwinConfigurations.${{ matrix.host }}.system
        else
          nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel
        fi
